@use 'sass:map';

@use '../../styles/mixins/mixins.scss' as *;
@use './botton-mix' as *;

@include b(button) {
  @include set-component-css-var('button', $button);

  @each $type in (primary, success, warn, danger, info) {
    @include m($type) {
      @include button-variant($type);
    }
  }

  & {
    @include button-size(
      map.get($button-padding-vertical, 'default') - $button-border-width,
      map.get($button-padding-horizontal, 'default') - $button-border-width,
      map.get($button-font-size, 'default'),
      map.get($button-border-radius, 'default')
    );
  }
}

@include b(button) {
  border-width: getCssVar('border-width');
  border-style: getCssVar('border-style');
  border-color: getCssVar('button', 'border-color');
  color: getCssVar('button', 'text-color');
  background: getCssVar('button', 'bg-color');
  & + & {
    margin-left: 12px;
  }

  &:hover {
    background: getCssVar('button', 'hover', 'bg-color');
    color: getCssVar('button', 'hover', 'text-color');
    border-color: getCssVar('button', 'hover', 'border-color');
  }

  &:active {
    color: getCssVar('button', 'active', 'text-color');
    border-color: getCssVar('button', 'active', 'border-color');
    background-color: getCssVar('button', 'active', 'bg-color');
  }
}
